.dsacard-header {
  border-left: 5px solid #f4d03f;
  border-radius: 2px;
  background-color: #FEFFBC;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.dsacard-image {
  background-color: white;
  height: 200px;
}

.dsacard-rasse {
  background-color: #FEFFBC;
  text-align: center;
}

.dsacard-talent {
  width: 100%;
}

.dsabtn-talent-right {
  width: 60px !important;
  font-weight: bold;
}

.dsabtn-group {
  width: 100%;
}

.dsacard-potential {
  width: 100%;
  background-color: red;
}

.dsacard {
  background-color: #FEFFEA;
  height: 528px;
  width: 378px;
}
