.dsacard-header {
  border-radius: 2px;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.dsacard-header-grey {
  background-color: white;
  border: 5px solid lightgrey;
  border-style: outset;
}

.dsacard-header-green {
  background-color: lightgreen;
  border: 5px solid green;
  border-style: outset;
}

.dsacard-header-blue {
  background-color: lightblue;
  border: 5px solid blue;
  border-style: outset;
}

.dsacard-header-purple {
  background-color: violet;
  border: 5px solid purple;
  border-style: outset;
}

.dsacard-header-yellow {
  background-color: lemonchiffon;
  border: 5px solid yellow;
  border-style: outset;
}

.dsacard-image {
  background-color: white;
  height: 200px;
}

.dsacard-rasse {
  background-color: #FEFFBC;
  text-align: center;
}

.dsacard-rasse-grey {
  background-color: white;
}

.dsacard-rasse-green {
  background-color: lightgreen;
}

.dsacard-rasse-blue {
  background-color: lightblue;
}

.dsacard-rasse-purple {
  background-color: violet;
}

.dsacard-rasse-yellow {
  background-color: lemonchiffon;
}


.dsacard-talent {
  width: 100%;
}

.dsabtn-talent-right {
  width: 60px !important;
  font-weight: bold;
}

.dsabtn-talent-grey {
  background-color: lightgrey;
}
.dsabtn-talent-green {
  background-color: green;
  color: white;
}
.dsabtn-talent-blue {
  background-color: blue;
  color: white;
}
.dsabtn-talent-purple {
  background-color: purple;
  color: white;
}
.dsabtn-talent-yellow {
  background-color: yellow;
}

.dsabtn-group {
  width: 100%;
}

.dsacard {
  height: 528px;
  width: 378px;
}

.dsacard-grey {
  background-color: whitesmoke;
}

.dsacard-green {
  background-color: #99ff99;
}

.dsacard-blue {
  background-color: #ccccff;
}

.dsacard-purple {
  background-color: #ffb3ff;
}

.dsacard-yellow {
  background-color: #ffffcc;
}
