.dsacard-header {
  border-radius: 2px;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.dsacard-header-grey {
  background-color: white;
  border-left: 5px solid lightgrey;
}

.dsacard-header-green {
  background-color: lightgreen;
  border-left: 5px solid green;
}

.dsacard-header-blue {
  background-color: lightblue;
  border-left: 5px solid blue;
}

.dsacard-header-purple {
  background-color: violet;
  border-left: 5px solid purple;
}

.dsacard-header-yellow {
  background-color: lemonchiffon;
  border-left: 5px solid yellow;
}

.dsacard-image {
  background-color: white;
  height: 200px;
}

.dsacard-rasse {
  background-color: #FEFFBC;
  text-align: center;
}

.dsacard-talent {
  width: 100%;
}

.dsabtn-talent-right {
  width: 60px !important;
  font-weight: bold;
}

.dsabtn-talent-grey {
  background-color: lightgrey;
}
.dsabtn-talent-green {
  background-color: green;
  color: white;
}
.dsabtn-talent-blue {
  background-color: blue;
  color: white;
}
.dsabtn-talent-purple {
  background-color: purple;
  color: white;
}
.dsabtn-talent-yellow {
  background-color: yellow;
  color: white;
}

.dsabtn-group {
  width: 100%;
}

.dsacard {
  background-color: #FEFFEA;
  height: 528px;
  width: 378px;
}
