.dsacard-header {
  border-left: 5px solid #f4d03f;
  border-radius: 2px;
  background-color: #FEFFBC;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.dsacard-image {
  background-color: white;
  height: 200px;
}

.dsacard-rasse {
  background-color: #FEFFBC;
  text-align: center;
}

.dsacard-talent {
  width: 100%;
}

.dsabtn-talent-right {
  width: 60px !important;
  font-weight: bold;
}

.dsabtn-talent-grey {
  background-color: lightgrey;
}
.dsabtn-talent-green {
  background-color: green;
}
.dsabtn-talent-blue {
  background-color: blue;
}
.dsabtn-talent-purple {
  background-color: purple;
}
.dsabtn-talent-yellow {
  background-color: yellow;
}

.dsabtn-group {
  width: 100%;
}

.dsacard {
  background-color: #FEFFEA;
  height: 528px;
  width: 378px;
}
